//-media
$sp: 768px;
$pc: 769px;

//-width
$baseWidth:1000px;
$width-min:900px;
$width-max:1200px;

//-boxshadow
$shadow-01:0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.20);
$shadow-02:0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.20);
$shadow-03:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-04:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-05:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$text-largest:2.5rem;
$text-larger:2rem;
$text-large:20px;
$text-medium:16px;
$text-normal:14px;
$text-small:12px;
$text-smaller:12px;

// $color-main:#59cbc6;
$color-main:#3cbbb6;
$color-sub:#369cad;
$color-text:#3d4458;
$color-text-sub:rgb(155, 155, 155);
$color-bg-sub:#F6F9FA;
